@keyframes show-type {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(-18px);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes flowerRoatel {
  from {
    transform-origin: center center;
    transform: rotateZ(0deg);
  }
  to {
    transform-origin: center center;
    transform: rotateZ(-360deg);
  }
}
@keyframes flowerRoater {
  from {
    transform-origin: center center;
    transform: rotateZ(0deg);
  }
  to {
    transform-origin: center center;
    transform: rotateZ(360deg);
  }
}
#__nuxt {
  contain: paint;
}
